Package: null.leptos.classdumpctl
Name: classdumpctl
Version: 0.0.1
Architecture: iphoneos-arm
Description: Command line tool to dump Obj-C headers
Maintainer: Leptos <leptos.0.null@gmail.com>
Author: Leptos <leptos.0.null@gmail.com>
Section: System
Tag: role::developer
